<?xml version="1.0"?>

<robot name="manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="$(find movensys_manipulator_description)/urdf/cr3a.xacro"/>
    <xacro:cr3a prefix="" joint_vel="1.0" joint_effort="1000"/>

    <link name="world_manipulator"/>
    
    <joint name="world_manipulator_to_table" type="fixed">
        <parent link="world_manipulator"/>
        <child  link="table"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="table">
        <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.653" />
            <inertia ixx="0.00075137" ixy="-3.0366E-08" ixz="1.2825E-06"
                    iyy="0.00080094" iyz="2.5423E-09" izz="0.0010902" />
        </inertial>
        <visual>
            <origin xyz="-0.5 -0.35 -1.285" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find movensys_manipulator_description)/urdf/assets/table.STL" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5 -0.35 -1.285" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find movensys_manipulator_description)/urdf/assets/table.STL" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="stand_joint" type="fixed">
        <origin xyz="-0.03 0.275 0.05" rpy="0 0 -1.57"/>
        <parent link="table"/>
        <child link="Link0"/>
    </joint>

    <link name="jetson_thor">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.07"/>
            </geometry>
            <material name="">
                <color rgba="0.8 0.8 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.07"/>
            </geometry>
        </collision>
    </link>

    <joint name="table_to_jetson_thor" type="fixed">
        <parent link="table"/>
        <child link="jetson_thor"/>
        <origin xyz="0.36 0.18 0.07" rpy="0 0 0"/>
    </joint>

    <link name="power_supply">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25 0.125 0.04"/>
            </geometry>
            <material name="">
                <color rgba="0.8 0.8 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25 0.125  0.04"/>
            </geometry>
        </collision>
    </link>

    <joint name="table_to_power_supply" type="fixed">
        <parent link="table"/>
        <child link="power_supply"/>
        <origin xyz="-0.3 0.2 0.065" rpy="0 0 1.57"/>
    </joint>

</robot>
