<?xml version="1.0"?>
<robot name="manipulator" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find movensys_manipulator_description)/urdf/dobot_cr5a/movensys_manipulator.xacro"/>
  <xacro:include filename="$(find movensys_manipulator_description)/urdf/dobot_cr5a/control.xacro"/>
  <xacro:include filename="$(find movensys_manipulator_description)/urdf/dobot_cr5a/transmission.xacro"/> 
</robot>